{%- set site = siteConfig.site -%}
{%- set author = siteConfig.author -%}
  
{%- set author_info -%}
    Douglas Mellon
{%- endset -%}
  
{%- set startYear -%}
  {%- if site.startYear -%}
    {{ site.startYear }}-
  {%- endif -%}
{%- endset -%}

<div class="copyright">
  &copy; 2025 {{ author_info|safe }}<br>
</div>
